.products {
  padding: 30px;
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100px;
    top: 50px;

    .fiterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;
  }

  .catbanner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 20px;
  }
}
